<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="lidar_link">
        <visual>
            <geometry><mesh filename="package://jazzy_gz/meshes/lidar_link.STL" /></geometry>
        <material name="light_black">
        <color rgba="0.2 0.2 0.2 1.0" />
        </material>
        </visual>
        <material name="red"/>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry><cylinder radius="0.04" length="0.04"/></geometry>
        </collision>
    </link>

    <joint name="lidar_link_joint" type="fixed">
        <origin xyz="0.00032 0.00056 0.1206" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="lidar_link" />
    </joint>


    <!-- Single gazebo block for the sensor -->
    <gazebo reference="lidar_link">
        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <lidar> 
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>lidar_link</gz_frame_id>
        </sensor>
    </gazebo>

</robot>